body{
	/*height: 550%;*/
	background-color: 	#FBFBF9;
	 /* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727)); 
	 /* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(top, #2F2727, #1a82f7); 
	 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #2F2727, #1a82f7); 
	 /* IE 10 */ background: -ms-linear-gradient(top, #2F2727, #1a82f7); 
	 /* Opera 11.10+ */ background: -o-linear-gradient(top, #2F2727, #1a82f7);
	background-attachment: fixed;
	
	max-width:768;
	margin: auto;

	padding:10px;
	font-size:fixed;
	font-family: "Trebuchet MS", Arial, sans-serif;
	letter-spacing:1px;
	line-height: 2em;
}
#hd h1{
position: relative; left: 20%;  font-size: 300%; letter-spacing: 3px; font-family:"Arial Black", Gadget, sans-serif; 
color: #3385FF;
        text-shadow: 0px 1px 0px #E6F0FF, 0px 2px 0px #66A3FF, 0px 3px 0px #1975FF, 0px 4px 0px #0052CC, 0px 5px 0px #003D99, 0px 6px 0px #002966, 0px 7px 0px #001F4C, 0px 8px 7px #001135;
        font:'ChunkFiveRegular';
}

#hd0 {
position: relative; left: 20%; top: 100px; border:5px;
}
#hd1 {

position: relative; left: 60%; top: -50px; letter-spacing: 3px; font-family:"Arial Black", Gadget, sans-serif;
text-shadow: 0px 1px 0px #E6F0FF;border:5px;
}


#hd2 {
position: relative; left: 60%; top: -50px; letter-spacing: 3px; font-family:"Arial Black", Gadget, sans-serif;
text-shadow: 0px 1px 0px #E6F0FF;
}



ul li {float:left; list-style:none; 
	padding:10px; margin:10px; 
	line-height:10px; width:301px; height:280px; 
	overflow:auto; border:1px solid #d2d2d2;-moz-border-radius: 5px;
-webkit-border-radius: 5px; background:#0A1F33;
border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
	border-top-left-radius: 0.3em;
	box-shadow: 5px 5px 5px #000000;}
	
	
ul a			/*style of each picture's link at the bottom*/

{

	position:relative; 
	top:10px;
	text-decoration:none; color: white;
	font-weight:normal;
	width:50px; height:10px;
	text-align:center;	
	background-color: rgba(0, 0, 0, 0.5);
	text-transform:uppercase; font-size:14px;
	padding: 7px; margin: auto;
	display:block;
	background-repeat:no-repeat; background-size: 12%;
	background-position: 50% 75%;

}	
	
	
#but input {
   position: relative;
   left: 40%;
    border-top: 1px solid #8f93d9;
   background: #010336;
   background: -webkit-gradient(linear, left top, left bottom, from(#3152f7), to(#010336));
   background: -webkit-linear-gradient(top, #3152f7, #010336);
   background: -moz-linear-gradient(top, #3152f7, #010336);
   background: -ms-linear-gradient(top, #3152f7, #010336);
   background: -o-linear-gradient(top, #3152f7, #010336);
   padding: 8px 16px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #d9d0d0;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
#but input:hover {
   border-top-color: #8f93d9;
   background: #2232e3;
   color: #fcfcfc;
}
#but input:active {
   border-top-color: #8e8f9c;
   background: #8e8f9c;
   }	
   
   
   
li{  list-style:none;
	font-weight:normal;
	width:50px; height:20px;
	text-align:center;
   /*position: relative;*/
   left: 40%;
   border-top: 1px solid #8f93d9;
   background: #010336;
   background: -webkit-gradient(linear, left top, left bottom, from(#3152f7), to(#010336));
   background: -webkit-linear-gradient(top, #3152f7, #010336);
   background: -moz-linear-gradient(top, #3152f7, #010336);
   padding: 8px 16px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #d9d0d0;
   font-size: 18px;
   vertical-align: middle;
   text-decoration: none;
   }

 li:hover {
   border-top-color: #8f93d9;
   background: #2232e3;
   color: #fcfcfc;
   text-decoration: none;
}
li:active {
   border-top-color: #8e8f9c;
   background: #8e8f9c;
   text-decoration: none;
   }	